<nav class="page-sidebar" data-pages="sidebar">



<div class="sidebar-header">
<%= image_tag 'logo.png', class:'brand', width:'150' %>
</div>


<div class="sidebar-menu">

<ul class="menu-items">


 <li class="m-t-30 ">
  <li>
            <a href="javascript:;"><span class="title">Pacientes</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-users' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Inserir', new_paciente_path%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <%= link_to 'Ver', pacientes_path %>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Historial</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Armazém</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-check-circle' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Em stock', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Fazer encomenda</a>
                <span class="icon-thumbnail">-</span>
              </li>
              <li class="">
                <%= link_to 'Custo material', '#'%>
                <span class="icon-thumbnail">W</span>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Estatísticas</a>
                <span class="icon-thumbnail">La</span>
              </li>
              
            </ul>
          </li>

          <li>
            <a href="javascript:;"><span class="title">Orçamentos</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class='fa fa-file-text' data-feather="calendar"></i></span>
            <ul class="sub-menu">
              <li class="">
                <%= link_to 'Gerar novo', '#'%>
                <span class="icon-thumbnail">+</span>
              </li>
              <li class="">
                <a href="#">Orçamentos aceites</a>
                <span class="icon-thumbnail">-</span>
              </li>
            </ul>
              <li>
              <a href="javascript:;"><span class="title">Educação</span>
              <span class=" arrow"></span></a>
              <span class="icon-thumbnail"><i class='fa fa-graduation-cap' data-feather="calendar"></i></span>
              <ul class="sub-menu">
                <li class="">
                  <%= link_to 'Ver', '#'%>
                  <span class="icon-thumbnail">+</span>
                </li>
                <li class="">
                  <a href="#">Inserir Vídeos</a>
                  <span class="icon-thumbnail">-</span>
                  </ul>
                </li>

                <li>
              <a href="#"><span class="title">Chat</span>
              <span class=" arrow"></span></a>
              <span class="icon-thumbnail"><i class='fa fa-comments' data-feather="calendar"></i></span>
             
                </li>
                
</nav>
