<%= form_with(model: paciente, local: true) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :morada %>
    <%= form.text_field :morada %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :nif %>
    <%= form.text_field :nif %>
  </div>

  <div class="field">
    <%= form.label :cc %>
    <%= form.text_field :cc %>
  </div>

  <div class="field">
    <%= form.label :pem %>
    <%= form.text_field :pem %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_field :obs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
